@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="fw-bold">¡Hola, bienvenido a Syst!👋</h3>

    <p> <h5>desde</h5> </p>

   
        <img src="https://cdn-ankpc.nitrocdn.com/CXPATxiuOnLCmBDTxjvMhJHZsrQOcxUs/assets/images/optimized/rev-0fb1c2d/www.striim.com/wp-content/themes/striim2022/images/connectors_icons/white/cassandra.png" alt="Alternate Text" width="400px" hight="400px" />
   
</div>
